<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta property="og:title" content="yuya-takeyama.github.com" />
  <meta property="og:type" content="blog" />
  <meta property="og:url" content="http://yuya-takeyama.github.com/" />
  <meta property="og:image" content="http://yuya-takeyama.github.com/avater.jpg" />
  <meta property="og:site_name" content="yuya-takeyama.github.com" />
  <meta property="fb:admins" content="100000987494966" />
  <title>{{ page.title }}</title>
</head>
<body>
  <div id="content">
    {{ content }}
  </div>
</body>
</html>
